<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Client Name</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">Verify Services</li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="card-header">
            <h4>Verification</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-md">
                <tr>
                  <th>Verification</th>
                  <th>Select</th>

                  <th>Permission</th>
                  <th>Expiry Days</th>
                </tr>
                <tr>
                  <td>
                    <img
                      class="card_img"
                      src="../../../../assets/images/image-64.png"
                    />Pan Card
                  </td>
                  <td>
                    <div class="form-group mb-0">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="gridCheck"
                        />
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <div class="col-sm-9">
                        <div class="form-group">
                          <div class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="rbbuttons"
                              id="rb1"
                              checked
                            />
                            <label class="form-check-label" for="rb1">
                              First Radio
                            </label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="rbbuttons"
                              id="rb2"
                            />
                            <label class="form-check-label" for="rb2">
                              Second Radio
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>

                  <td>365</td>
                </tr>
                <tr>
                  <td>
                    <img
                      class="card_img"
                      src="../../../../assets/images/image-64.png"
                    />Driving License
                  </td>
                  <td>Hasan Basri</td>
                  <td>2017-01-09</td>
                </tr>
                <tr>
                  <td>
                    <img
                      class="card_img"
                      src="../../../../assets/images/image-64.png"
                    />Aadhar card
                  </td>
                  <td>Kusnadi</td>
                  <td>2017-01-11</td>
                </tr>
                <tr>
                  <td>
                    <img
                      class="card_img"
                      src="../../../../assets/images/image-64.png"
                    />Voter ID
                  </td>
                  <td>Rizal Fakhri</td>
                  <td>2017-01-11</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
