<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">All Clients</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">Clients</li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <a routerLink="client-dashboard">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="m-b-0">Users</h5>
                  <h3>11,506 <span class="font-16 text-success">+18%</span></h3>
                </div>
                <div class="col-auto">
                  <div class="bg-green text-white icon-box-style">
                    <i class="fas fa-user-friends"></i>
                  </div>
                </div>
              </div>
              <div class="m-t-30">
                <div class="row text-center">
                  <div class="col-6 border-right">
                    <h4 class="m-b-0">72%</h4>
                    <span class="font-14 text-muted">New Users</span>
                  </div>
                  <div class="col-6">
                    <h4 class="m-b-0">28%</h4>
                    <span class="font-14 text-muted">Repeat Users</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
