<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">All Clients</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">Client</li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-md-9">
        <div>
          <h4>Apollo supply chain private limited</h4>
          <div class="card mt-4 bg-light">
            <div class="card-body mt-3 mb-3">
              <h6>Find the right candidates for all your hiring modes</h6>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </p>
              <button class="btn btn-success">Subscribe</button>
            </div>
          </div>
        </div>
        <div class="mt-3 mb-3">
          <h5>My Apps</h5>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h3>
                    <span class="text-success"
                      ><i class="far fa-thumbs-up"></i
                    ></span>
                    Verify
                  </h3>
                </div>
                <div class="col-auto">
                  <div class="icon-box-style">
                    <a routerLink="verify">
                      <i class="material-icons">settings</i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="m-t-30">
                <div class="row icon-container">
                  <div class="col-12 border-right">
                    <div class="preview">
                      <span class="icon-name me-auto">View Dashboard</span>
                      <a routerLink="client-dashboard"
                        ><i class="material-icons">keyboard_arrow_right</i></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row icon-container">
          <p class="username">Hello Shiva,</p>
          <div class="preview">
            <i class="material-icons">accessibility</i
            ><span class="icon-name me-auto">Add Employee</span>
            <a routerLink="add-employee">
              <i class="material-icons">keyboard_arrow_right</i>
            </a>
          </div>
          <div class="preview">
            <i class="material-icons">accessibility</i>
            <span class="icon-name me-auto">All Employee</span>
            <a routerLink="all-employee">
              <i class="material-icons">keyboard_arrow_right</i>
            </a>
          </div>
          <div class="preview">
            <i class="material-icons">accessibility</i>
            <span class="icon-name me-auto">Configure</span>
            <a routerLink="configure">
              <i class="material-icons">keyboard_arrow_right</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
