<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0"><a>To Do</a></h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">Detailed view</li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-md-7">
        <div class="card author-box card-primary">
          <div class="card-body">
            <div class="author-box-left">
              <img
                alt="image"
                src="assets/images/users/user-1.png"
                class="rounded-circle author-box-picture"
              />
              <div class="clearfix"></div>
              <!-- <a
                href="#"
                onClick="return false;"
                class="btn btn-primary mt-3 follow-btn"
                data-follow-action="alert('follow clicked');"
                data-unfollow-action="alert('unfollow clicked');"
                >Follow</a
              > -->
            </div>
            <div class="author-box-details">
              <div class="author-box-name">
                <a href="#" onClick="return false;">A M Mohith </a>
              </div>
              <div class="author-box-job">Supplu chain private ltd</div>
              <div class="author-box-description">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
              <div>
                <p>AAdhaar number : 14554545454</p>
                <p>Date of Birth : 15.10.2023</p>
                <p>TAT : 0 - 17 days</p>
                <p>Case status : Positive</p>
              </div>
              <div class="mb-2 mt-3">
                <div class="text-small fw-bold">Follow Sarah On</div>
              </div>
              <a href="#" onClick="return false;" class="btn btn-primary msr-1">
                Add Comments
              </a>
              <a href="#" onClick="return false;" class="btn btn-info msr-1">
                Add attchments
              </a>

              <div class="w-100 d-sm-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
